/.ipynb_checkpoints
/available units.ipynb
/best model small.png
/best model.png
/C3H6_C3H8.ipynb
/C3H6_C3H8.png
/CO2_CH4.png
/CO2_CH4_TeHennepe.png
/D_all_models.png
/gaussian.ipynb
/O2_N2.png
/performance_c3h6_c3h8.png
/Robeson_plots_CO2_CH4.ipynb
/Robeson_plot_O2_N2.ipynb
/small_XGBR.png
/XGBR.png
__pycache__